<template>
  <div class="">
    <div>
      <form novalidate class="md-layout md-alignment-center-center" @submit.prevent="validateUser">
      <md-card class="md-layout-item md-size-40 md-small-size-100">

        <!-- Progress Bar -->
        <md-progress-bar md-mode="indeterminate" v-if="sending" />



        <md-card-header>
          <div class="md-title">Users</div>

          <md-card-media>
            <img class="avatar__img" :src="this.axios.defaults.baseURL + form.img" alt="People" @click="showDialog = true">
          </md-card-media>

        </md-card-header>
        
        <md-card-content class="card-content">

          <md-field :class="getValidationClass('name')">
            <label for="name">Name</label>
            <md-input name="name" id="name" autocomplete="name" v-model="form.name" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.name.required">The first name is required</span>
            <span class="md-error" v-else-if="!$v.form.name.minlength">Invalid first name</span>
          </md-field>

          <md-field :class="getValidationClass('department')">
            <label for="department">Department</label>
            <md-input name="department" id="department" autocomplete="department" v-model="form.department" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.department.required">The department is required</span>
            <span class="md-error" v-else-if="!$v.form.department.minlength">Invalid first department</span>
          </md-field>

          <md-field :class="getValidationClass('registration')">
            <label for="registration">Number Registration</label>
            <md-input type="number" name="registration" id="registration" autocomplete="registration" v-model="form.registration" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.registration.required">The registration is required</span>
            <span class="md-error" v-else-if="!$v.form.registration.minlength">Invalid first registration</span>
          </md-field>

          <md-field :class="getValidationClass('cellphone')">
            <label for="cellphone">Cellphone</label>
            <md-input name="cellphone" id="cellphone" autocomplete="cellphone" v-model="form.cellphone" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.cellphone.required">The cellphone is required</span>
            <span class="md-error" v-else-if="!$v.form.cellphone.minlength">Invalid first cellphone</span>
          </md-field>

          <md-field :class="getValidationClass('email')">
            <label for="email">Email</label>
            <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
            <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field>

        </md-card-content>

        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="sending">Save</md-button>
        </md-card-actions>

      </md-card>
      </form>
    </div>

    <div>
      <md-dialog :md-active.sync="showDialog">
        <md-dialog-title>Avatares</md-dialog-title>
        
        <div v-if="!avatars" class="md-layout md-alignment-center-center">
          <md-progress-spinner :md-diameter="30" :md-stroke="3" md-mode="indeterminate"></md-progress-spinner>
        </div> 

        <div class="md-layout md-gutter dialog-avatars__container" v-else>
          <div class="md-layout-item md-small-size-100" v-for="avatarImg in avatars" :key="avatarImg.path">
            <md-card-media :value="avatarImg.path">
              <img class="dialog-avatars__img" :src="axios.defaults.baseURL + avatarImg.path" @click="form.img = avatarImg.path, showDialog = false">
            </md-card-media>
          </div>
        </div>
        <md-dialog-actions>
          <md-button class="md-primary" @click="showDialog = false">Close</md-button>
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email, minLength, maxLength, sameAs } from 'vuelidate/lib/validators'

export default {
  name: 'FormValidation',
  mixins: [validationMixin],
  data () {
    return {
      form: {
        name: null,
        department: null,
        registration: null,
        cellphone: null,
        email: null,
        img: null
      },
      showDialog: false
    }
  },

  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3)
      },
      department: {
        required,
        minLength: minLength(3)
      },
      registration: {
        required,
        minLength: minLength(3)
      },
      cellphone: {
        required
      },
      email: {
        required,
        email
      }
    }
  },

  created () {
      let user = this.$store.getters.logedUser
      if (!user) {
        this.$store.dispatch('logIn')
        .then(response => {
            this.form.name = response.name   
            this.form.department = response.department   
            this.form.registration = response.registration   
            this.form.cellphone = response.cellphone   
            this.form.email = response.email   
            this.form.img = response.img   
        })
      }
      this.form.name = user.name   
      this.form.department = user.department   
      this.form.registration = user.registration   
      this.form.cellphone = user.cellphone   
      this.form.email = user.email   
      this.form.img = user.img
  },

  computed: {
    sending () {
      return this.$store.getters.getLoading
    },
    avatars () {
      return this.$store.getters.getAvatar
    }
  },

  methods: {

    getValidationClass (fieldName) {
      const field = this.$v.form[fieldName]

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty
        }
      }
    },
    validateUser () {
      this.$v.$touch()
      let user = {
        name: this.form.name,
        department: this.form.department,
        registration: this.form.registration,
        cellphone: this.form.cellphone,
        email: this.form.email,
        img: this.form.img
      }
      if (!this.$v.$invalid) {
        this.updateUser(user)
      //   this.$router.push('/')
      }

    },
    updateUser (user) {
      this.$store.dispatch('updateUser', user)
      .then(response => {
          this.$router.push('/')
      })
    }
  }
}
</script>

<style scoped lang="scss">

.card-content {
  margin-top: 1rem;
}

.avatar__img:hover {
  cursor: pointer;
}

.dialog-avatars__container {
  padding: 25px;
}
.dialog-avatars__img {
  max-width: 90px;
  cursor: pointer;
}


</style>
