<template>
    <div class="card-content">
      <form novalidate class="md-layout md-alignment-center-center" @submit.prevent="validateUser">
      <md-card class="md-layout-item md-size-40 md-small-size-100">
        
        <md-card-header>
          <div class="md-title">Update Password</div>

        </md-card-header>

        <md-card-content class="card-content">

          <md-field :class="getValidationClass('currentPassword')">
            <label>Current Password</label>
            <md-input v-model="form.currentPassword" type="password"></md-input>
            <span class="md-error" v-if="!$v.form.currentPassword.required">The current password is required</span>
            <!-- <span class="md-error" v-else-if="!$v.form.currentPassword.sameAsConfirmPassword">Passwords must be identical.</span> -->
          </md-field>

          <md-field :class="getValidationClass('password')">
            <label>New Password</label>
            <md-input v-model="form.password" type="password"></md-input>
            <span class="md-error" v-if="!$v.form.password.required">The first password is required</span>
            <span class="md-error" v-else-if="!$v.form.password.sameAsConfirmPassword">Passwords must be identical.</span>
          </md-field>

          <md-field :class="getValidationClass('confirmPassword')">
            <label>Confirm New Password</label>
            <md-input v-model="form.confirmPassword" type="password"></md-input>
            <span class="md-error" v-if="!$v.form.confirmPassword.sameAsPassword">Passwords must be identical.</span>
          </md-field>


        </md-card-content>

        <!-- <md-progress-bar md-mode="indeterminate" v-if="sending" /> -->

        <md-card-actions>
          <md-button type="submit" class="md-primary">Save</md-button>
        </md-card-actions>

      </md-card>
      </form>
    </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, sameAs } from 'vuelidate/lib/validators'

  export default {
    name: 'FormValidationWithPassword',
    mixins: [validationMixin],

    data () {
      return {
        form: {
          currentPassword: null,
          password: null,
          confirmPassword: null
        }
      }
    },

    validations: {
      form: {
        currentPassword: {
          required
        },
        password: {
          required,
          sameAsConfirmPassword : sameAs('confirmPassword')
        },
        confirmPassword: {
          required,
          sameAsPassword: sameAs('password')
        }
      }
    },

    methods: {

      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]

        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm () {
        this.$v.$reset()
        this.form.currentPassword = null
        this.form.password = null
        this.form.confirmPassword = null
      },
      validateUser () {
        this.$v.$touch()
        let password = {
          currentPassword: this.form.currentPassword,
          password: this.form.password
        }
        if (!this.$v.$invalid) {
          this.updatePassword(password)
        }

      },
      updatePassword (password) {
        this.$store.dispatch('updatePassword', password)
        .then(() => {
            this.$store.dispatch('logOut')
            this.$router.push('/')
        })
      }
    }
  }
</script>

<style scoped lang="scss">

.card-content {
  margin: 1rem 0 3rem 0;
}


</style>