<template>
  <div class="">
    <Home/>
    <Logs/>
    <FirebaseToken/> <!-- Component que carrega as funcoes do firebase -->
  </div>
</template>

<script>
// @ is an alias to /src
import Home from '@/components/Home'
import Logs from '@/components/Logs'

import FirebaseToken from '@/components/FirebaseToken'

export default {
  name: 'home',
  components: {
    Home,
    Logs,
    FirebaseToken
  }
  
}
</script>
