<template>
  <div>
    <LoginForm/>
  </div>
</template>

<script>
  import LoginForm from '@/components/Login'

  export default {
    components: {
      LoginForm
    }
  }
</script>

<style lang="scss" scoped>

</style>
