<template>
  <div class="">
    <h1>Register</h1>
    <FormProfilePassword/>
  </div>
</template>

<script>
  import FormProfilePassword from '../components/shared/FormWithPassword'

  export default {
    // name: 'FormValidation',
    components: {
      FormProfilePassword
    }
  }
</script>

<style scoped lang="scss">

</style>