<template>
  <div class="">
    <h1>Update your Profile</h1>
    <FormProfile/>
    <FormPassword/>
  </div>
</template>

<script>
import FormProfile from '@/components/shared/Form'
import FormPassword from '@/components/shared/Password'

export default {

  components: {
    FormProfile,
    FormPassword
  }
}
</script>

<style scoped lang="scss">

</style>
