<template>
    
</template>

<script>
import * as firebase from 'firebase'

export default {
    created () {

    const messaging = firebase.messaging();
    let user = this.$store.getters.logedUser
   
    messaging.requestPermission()
    .then(() => {
      console.log('Notification permission granted.');
      // TODO(developer): Retrieve an Instance ID token for use with FCM.
    })
    .catch((err) => {
      console.log('Unable to get permission to notify.', err);
    });


    messaging.getToken()
    .then((currentToken) => {
            
      if (!user.firebase.includes(currentToken)) {
      // if (currentToken) {
        
        let data = {
          email: user.email,
          firebaseId: currentToken
        }

        // console.log(data)
        this.$store.dispatch('updateFirebase', data);
      
      } else {
        
        console.log('No Instance ID token available. Request permission to generate one.');
      }
      // return currentToken;
    })
    .catch((err) => {
      console.log('An error occurred while retrieving token. ', err);
    });



    // Callback fired if Instance ID token is updated.
    messaging.onTokenRefresh(() => {
      messaging.getToken()
      .then(function(refreshedToken) {
        console.log('Token refreshed.');
      })
      .catch((err) => {
        console.log('Unable to retrieve refreshed token ', err);
      });
    });

    messaging.onMessage(function(payload) {
      console.log('Message received. ', payload);
      // alert(payload.notification.body)
      
      // ...
    });
  }
}
</script>
