<template>
  <div class="">
    <md-progress-spinner :md-diameter="100" :md-stroke="7" md-mode="indeterminate" v-if="!logedUser._id"></md-progress-spinner>
    <div class="" v-else>
      <h1>!!Bem vindo - {{logedUser.name}}</h1>
      <div class="md-layout md-alignment-center-center">
        <md-card class="md-layout  md-layout-item md-size-30 md-small-size-100">
          <md-card-header>
            <!-- <div class="md-title">Profile</div> -->
            <md-card-media md-medium>
              <img :src="this.axios.defaults.baseURL + logedUser.img" alt="People">
            </md-card-media>
          </md-card-header>

          <md-card-content style="width: 100%;">
            <md-list>

              <md-list-item>
                <strong>Name:</strong>
                {{logedUser.name}}
              </md-list-item>

              <md-list-item>
                <strong>Email:</strong>
                {{logedUser.email}}
              </md-list-item>

              <md-list-item>
                <strong>Department:</strong>
                {{logedUser.department}}
              </md-list-item>
              
              <md-list-item>
                <strong>Registration:</strong>
                {{logedUser.registration}}
              </md-list-item>

              <md-list-item>
                <strong>Cellphone:</strong>
                {{logedUser.cellphone}}
              </md-list-item>

            </md-list>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Aire',

  data () {
    return {
      title: 'Aire'
    }
  },

  created () {
    this.$store.dispatch('loadingAvatars')
  },

  computed: {
    logedUser () {
      let user = this.$store.getters.logedUser
      if (user._id) {
        return user
      }
      return this.$store.dispatch('logIn')
      // return this.$store.getters.logedUser
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
