<template>
  <div class="">
    <div class="" v-if="logedUser.logs.length > 0">
      <h1>Logs de Contato</h1>
      <div class="md-layout md-alignment-center-center">
        <md-card class="md-layout  md-layout-item md-size-30 md-small-size-100">
          <!-- <md-card-header>
            <div class="md-title">Profile</div>
          </md-card-header> -->
          <md-card-content style="width: 100%;" class="md-scrollbar">
            <!-- <md-list>

              <md-list-item v-for="log in logedUser.logs" :key="log">
                {{log}}
              </md-list-item>

            </md-list> -->


            <md-table>
              <md-table-row>
                <md-table-head>Date</md-table-head>
                <md-table-head>Hour</md-table-head>
              </md-table-row>

              <md-table-row v-for="log in logedUser.logs" :key="log.hour">
                <md-table-cell>{{log.date}}</md-table-cell>
                <md-table-cell>{{log.hour}}</md-table-cell>
              </md-table-row>
            </md-table>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Logs',

  computed: {
    logedUser () {
      let user = this.$store.getters.logedUser
      if (user._id) {
        return user
      }
      return this.$store.dispatch('logIn')
      // return this.$store.getters.logedUser
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.md-table-cell {
  text-align: initial
}
</style>
