<template>
  <div id="app">
    <div id="nav" class="nav-align">
      <div>
        <router-link to="/login">Login</router-link> |
        <router-link to="/">Home</router-link> |
        <router-link to="/register">Register</router-link>
      </div>

      <div>
        <md-button class="md-primary" @click="update" v-if="isLoged._id">Update Accont</md-button>
        <md-button class="md-primary" @click="logout" v-if="isLoged._id">Logout</md-button>
        
        <!-- <md-avatar v-if="isLoged._id">
          <img :src="axios.defaults.baseURL + isLoged.img" alt="Avatar">
        </md-avatar> -->

      </div>
    </div>

    <router-view/>
    
  </div>
</template>

<script>
export default {
  methods: {
    logout () {
      this.$store.dispatch('logOut')
      .then(() => {
        this.$router.push('/login')
      })
    },
    update () {
      this.$router.push('/update-account')
    }
  },
  computed: {
    isLoged () {
      return this.$store.getters.logedUser
    }
  }
}
</script>


<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
      color: #448aff;
    }
  }
}
.nav-align {
  display: flex;
  justify-content: space-between;
}

</style>
